{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img
        src="{% static 'dist/img/AdminLTELogo.png' %}"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <span class="brand-text font-weight-light">Student Management System</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img
            src="{% static 'dist/img/user2-160x160.jpg' %} "
            class="img-circle elevation-2"
            alt="User Image"
          />
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input
            class="form-control form-control-sidebar"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
          >
          
          <li class="nav-item">
            {% url 'lecturer:home' as home %}
            <a href="{{ home }}" class="nav-link {% if request.path == home %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'lecturer:take_attendance' as take_attendance %}
            <a href="{{ take_attendance }}" class="nav-link {% if request.path == take_attendance %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Take Attendance
              </p>
            </a>
          </li>
          
          <li class="nav-item">
            {% url 'lecturer:add_lecturer' as add_lecturer %}
            <a href="{{ add_lecturer }}" class="nav-link {% if request.path == add_lecturer %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add lecturer
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'lecturer:manage_lecturer' as manage_lecturer %}
            <a href="{{ manage_lecturer }}" class="nav-link {% if request.path == manage_lecturer %} active {% endif %} {% if request.path == edit_lecturer %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage lecturer
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'lecturer:add_school' as add_school %}
            <a href="{{ add_school }}" class="nav-link {% if request.path == add_school %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add School
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'manage_lecturer' as manage_lecturer %}
            <a href="{{ manage_lecturer }}" class="nav-link {% if request.path == manage_lecturer %} active {% endif %} {% if request.path == edit_lecturer %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage School
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'lecturer:add_department' as add_department%}
            <a href="{{ add_department }}" class="nav-link {% if request.path == add_department %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Department
                
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'lecturer:manage_department' as manage_department %}
            <a href="{{ manage_department }}" class="nav-link {% if request.path == manage_department %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Department
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'lecturer:add_course' as add_course%}
            <a href="{{ add_course }}" class="nav-link {% if request.path == add_course %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Course
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'lecturer:manage_course' as manage_course %}
            <a href="{{ manage_course }}" class="nav-link {% if request.path == manage_course %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Course
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'lecturer:add_session' as add_session%}
            <a href="{{ add_session }}" class="nav-link {% if request.path == add_session %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>Add Session</p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'lecturer:manage_session' as manage_session %}
            <a href="{{ manage_session }}" class="nav-link {% if request.path == manage_session %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Session
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                View Attendance report
                
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Students Feedbacks
                
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                lecturer Feedbacks
                
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Student Leave
                
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                lecturer Leave
                
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>