{% extends 'hod/base.html' %} 
{% load static %} 
{% block page_title %} 
Add Session 
{% endblock page_title %} 
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Add Session</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      {% include 'hod/form.html' with form=form messages=messages button_text="Add Session" %}
    </div>
  </div>
</section>

{% endblock %}
