{% extends 'hod/base.html' %} {% block page_title %} Add lecturer
{% endblock page_title %} {% load static %} {% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Add lecturer</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      {% include 'hod/form.html' with form=form messages=messages button_text="Add Lecturer" %}
    </div>
  </div>
</section>

{% endblock %}
