{% extends 'hod/base.html' %} {% block page_title %} Edit student
{% endblock page_title %} {% load static %} {% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Edit student</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->

      {% include 'hod/form.html' with form=form messages=messages button_text="Edit Student" %}
    </div>
  </div>
</section>

{% endblock %}