{% extends 'hod_template/base_template.html' %} 
{% load static %} 
{% block page_title %} 
Edit department 
{% endblock page_title %} 
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Edit Department</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form method="POST">
        {% csrf_token %}
        <div class="card-body">
          <div class="form-group">
            <label for="title">Department Name</label>
            <input
              type="text"
              class="form-control"
              value="{{ department.department_name }}"
              name="department_name"
              placeholder="Enter department name"
            />
          </div>
          <!-- /.card-body -->
          <div class="form-group">
            {% if messages %}
            
            {% for message in messages %} 
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" style="margin-top: 10px">
              {{ message }}
            </div>
            {% endif %} 
            {% if message.tags == 'success' %}
            <div class="alert alert-success" style="margin-top: 10px">
              {{ message }}
            </div>
            {% endif %} 
            {% endfor %} 
            {% endif %}
          </div>
        </div>

        <div class="card-footer">
          <button type="submit" class="btn btn-primary btn-block">
            Edit Department
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
