{% extends 'hod/base.html' %} 
{% load static %} 
{% block page_title %} 
Manage student 
{% endblock page_title %} 
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      {% comment %} <div class="card-header">
        <h3 class="card-title">Manage student</h3>
      </div> {% endcomment %}
      <!-- /.card-header -->
      <!-- form start -->

     
        <div class="card-header">
          <h3 class="card-title">Manage students</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px">
              <input
                type="text"
                name="table_search"
                class="form-control float-right"
                placeholder="Search"
              />

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Index Number</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Profile Picture</th>
                <th>Department</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.more.index_number }}</td>
                    <td>{{ student.first_name }} {{ student.last_name }}</td>
                    <td>{{ student.more.gender }} </td>
                    <td><img src="{{ student.more.profile_pic.url }}" height=50px width=50px> </td>
                    <td>{{ student.more.department.name }} </td>
                    <td><a href="{% url 'hod:edit_student' pk=student.id %}" class="btn btn-success"> Edit</a></td>

                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      
      <!-- /.card -->
    </div>
  </div>
</section>

{% endblock %}
