{% extends 'hod/base.html' %} 
{% load static %} 
{% block page_title %} 
Manage Lecturer 
{% endblock page_title %} 
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      {% comment %} <div class="card-header">
        <h3 class="card-title">Manage Lecturer</h3>
      </div> {% endcomment %}
      <!-- /.card-header -->
      <!-- form start -->

     
        <div class="card-header">
          <h3 class="card-title">Manage Lecturers</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px">
              <input
                type="text"
                name="table_search"
                class="form-control float-right"
                placeholder="Search"
              />

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Lecturer Number</th>
                <th>Name</th>
                <th>Username</th>
                <th>Adress</th>
                {% comment %} <th>Reason</th> {% endcomment %}
              </tr>
            </thead>
            <tbody>
                {% for lecturer in lecturers %}
                <tr>
                    <td>{{ lecturer.lecturer_number }}</td>
                    <td>{{ lecturer.more.title }} {{ lecturer.first_name }} {{ lecturer.last_name }}</td>
                    <td>{{ lecturer.username }} </td>
                    <td>{{ lecturer.more.address}}</td>
                    <td><a href="/edit_Lecturer/{{ Lecturer.id }}" class="btn btn-success"> Edit</a></td>

                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      
      <!-- /.card -->
    </div>
  </div>
</section>

{% endblock %}
