{% extends 'hod/base.html' %} 
{% load static %} 
{% block page_title %} 
Manage session 
{% endblock page_title %} 
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      {% comment %} <div class="card-header">
        <h3 class="card-title">Manage session</h3>
      </div> {% endcomment %}
      <!-- /.card-header -->
      <!-- form start -->

     
        <div class="card-header">
          <h3 class="card-title">Manage sessions</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px">
              <input
                type="text"
                name="table_search"
                class="form-control float-right"
                placeholder="Search"
              />

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Start Year</th>
                <th>End Year</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                <tr>
                    <td>{{ session.start }}</td>
                    <td>{{ session.end }}</td>
                    <td><a href="/edit_session/{{ session.id }}" class="btn btn-success"> Edit</a></td>

                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      
      <!-- /.card -->
    </div>
  </div>
</section>

{% endblock %}
